<%- include("../../partials/admin-header.ejs") %>



<div class="car-form-container" id="carFormContainer">
    <div class="car-form-items">
        <h2 style="color: white;">Add a new Car</h2><br/>
        <form action="/postcar" method="post" enctype="multipart/form-data">
        <input type="text" name="carName" placeholder="Car Name" class="auth-inputs" autocomplete="none" required>
        <br>
        <input type="text" name="year" placeholder="Year" class="auth-inputs" autocomplete="none" required><br>
        <select name="carBrand"  onchange="fetchModels()" id="brand">
            <option value="" disabled selected hidden>Car Brand</option>
            <% allbrands.forEach(brand =>{ %>
                <option name="<%= brand.id %>" value="<%= brand.id %>" ><%= brand.name %></option>
            <% }) %>
        </select>
        <select id="model">
            <option disabled selected hidden>Car Model</option>
        </select>
        <br>
        <br>
        <textarea cols="30" rows="10" placeholder="Description..." name="description" class="auth-inputs"></textarea>
        <br><br>
        <label for="imageUpload" style="color: white;">Car Image</label><br>
        <input type="file" name="image" title="Car Image" required><br><br>
        <button class="btn-auth">Post Car</button>
       </form>
    </div>
</div>




<!-- Cars Posted -->
<div class="brand-class" id="carContent">
    <!-- <select class="admin-select" onchange="window.location.href=this.value;">
        <option value="" disabled selected hidden> Cars</option>
        <option value="/post">Post</option>
    </select> -->

    <div class="system-container">
        <p class="admin-sections-headings">Cars <button onclick="showForms()" id="postForms" class="add-btn"><i class="fa-solid fa-circle-plus" <i class="fa-solid fa-circle-plus" style="color: #e6e7ea;"></i></button></p>
        <% allcars.forEach(car => { %>
        <div class="system-items">
            <hr>
            <img src="uploads/<%= car.filename %>" class="car-admin-img" alt="">
                <p class="car-admin-details" style="font-family: Arial; color: #00ADB5;"><%= car.name%></p> <br>
                <p class="car-admin-details"><%= car.description %></p><br>
                <p class="car-admin-details">Posted By: Admin</p><br>
                <a href="/car/edit/<%= car.id %>">
                <Button class="edit-delete-btns">Edit</Button>
                </a>
                <form class="delete-btn" action="/deletecar/<%= car.id %>" method="post">
                    <Button class="delete-form-btn">Delete</Button>
                </form>  
        </div>
        <% }); %> 
    </div>
</div>

<!-- Cars Posted -->
<%- include("../../partials/admin-footer.ejs") %>