<%- include("../../partials/admin-header.ejs") %>

<div class="edit-form-container" id="editFormContainer">
    <div class="edit-form-items">
        <h2 style="color: white;">Add a new Car</h2><br/>
        <form action="/updatecar" method="post" enctype="multipart/form-data">
        <input value="<%= cartoedit.id  %>" name="carId" type="hidden">
        <input value="<%= cartoedit.name  %>" type="text" name="carName" placeholder="Car Name" class="auth-inputs" autocomplete="none" required>
        <br>
        <input value="<%=  cartoedit.year %>" type="text" name="year" placeholder="Year" class="auth-inputs" autocomplete="none" required><br>
        <select name="carBrand" id="fuelType">
            <option value="" disabled selected hidden>Car Brand</option>
            <% allbrands.forEach(brand =>{ %>
            <option value="<%= brand.id %>" ><%= brand.name %></option>
            <% }) %>
        </select>
        <select name="carModel" id="fuelType">
            <option value="" disabled selected hidden>Car Model</option>
            <% allmodels.forEach(model =>{ %>
                <option value="<%= model.id %>" ><%= model.name %></option>
            <% }) %>
        </select>
        <br>
        <br>
        <textarea value="" cols="30" rows="10" placeholder="Description..." name="description" class="auth-inputs"><%=  cartoedit.description %></textarea>
        <br><br>
        <label for="imageUpload" style="color: white;">Car Image</label><br>
        <p>Curren file: <%= cartoedit.filename %></p><br>
        <input value="<%= cartoedit.filename %>" type="file" name="image" title="Car Image" required><br><br>
        <button class="btn-auth">Post Car</button>
       </form>
    </div>
</div>

<%- include("../../partials/admin-footer.ejs") %>