<%- include("../../partials/admin-header.ejs") %>

<div class="car-form-container" id="carFormContainer">
    <div class="car-form-items">
        <p class="err-msg"></p>
        <h2 style="color: white;">Add a new Model</h2><br/>
        <form action="/postmodel" method="post">
        <input type="text" name="modelName" placeholder="Model Name" class="auth-inputs" autocomplete="none" required>
        <br>
        <button type="submit" class="btn-auth">Add Model</button>
       </form>
    </div>
</div>

<!-- Brands Posted -->
<div class="brand-class" id="brandContent">
    <div class="system-container">
        <p class="admin-sections-headings">Models <button onclick="showForms()" id="postForms" class="add-btn"><i class="fa-solid fa-circle-plus" style="color: #e6e7ea;"></i></button></p>
        <div class="system-items" id="brands">
            <% newModels.forEach(function(newModel){ %>
                <hr>
                <ol class="brand-items">
                    <input type="hidden" value="" name="id">
                    <li style="font-family: Arial; color: #00ADB5;"><%= newModel.name %></li>
                    <a href="/model/edit/<%= newModel.id %>">
                        <Button class="edit-delete-btns">Edit</Button>
                     </a> 
                     <form class="delete-btn" action="/deletemodel/<%= newModel.id %>" method="post">
                    <Button class="delete-form-btn">Delete</Button>
                    </form>
                </ol>
                <hr>
            <% }) %>

    
        </div>
    </div>
</div>
<!-- Brands Posted -->

<%- include("../../partials/admin-footer.ejs") %>